body,
html {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  color: black;
  overflow: auto;
}

a.float-right {
  color: cadetblue;
  -webkit-appearance: none;
  font-size: small;
  font-style: normal;
}

small {
  font-style: italic;
  color: darkslategray;
}

ul {
  padding-left: inherit;
  padding-top: 8px;
  list-style-type: circle;
}

li {
  border-bottom-color: cadetblue;
  border-bottom-width: thin;
  border-bottom-style: solid;
  padding-top: 4px;
  font-style: italic;
}

.card {
  max-width: 400px;
  margin-top: 20px;
}

.navIcon {
  background-color: white;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  padding: 1px;
}

.btn-outline-success {
  color: darkgreen;
  border-color: darkgreen;
  background-color: wheat;
}

.btn-outline-success:hover {
  color: darkgreen;
  border-color: darkgreen;
  background-color: aquamarine;
}

.btn-outline-secondary {
  border-color: transparent;
  border-radius: 50% !important;
  padding-left: 6px;
  padding-right: 6px;
}

.btn-outline-primary {
  color: darkslategray;
  border-color: darkslategray;
  background-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}

.btn-outline-primary:hover {
  color: green;
  border-color: black;
  background-color: white;
}

.landingContainer,
.mainContainer {
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
  position: absolute;
  height: 100%;
}

.form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: darkslategray;
  border-radius: 0px;
}

.title {
  top: 50%;
  position: inherit;
  text-align: center;
}

span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 6px;
}

span.border:hover {
  cursor: pointer;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari */
  color: rgb(185, 184, 184) !important;
  opacity: 1;
  font-style: italic;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(185, 184, 184) !important;
  font-style: italic;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(185, 184, 184) !important;
  font-style: italic;
}
