body,
html {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  color: tan;
}

.card {
  max-width: 400px;
  margin-top: 20px;
}

.navIcon {
  background-color: white;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  padding: 1px;
}

.btn-outline-secondary {
  border-color: transparent;
  border-radius: 50% !important;
  padding-left: 6px;
  padding-right: 6px;
}

.btn-outline-primary {
  color: tan;
  border-color: tan;
  background-color: white;
}

.btn-outline-primary:hover {
  color: saddlebrown;
  border-color: saddlebrown;
  background-color: white;
}
.input {
  border-color: tan;
}

.landingContainer,
.mainContainer {
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
  position: absolute;
  height: 100%;
}

.title {
  top: 50%;
  position: inherit;
  text-align: center;
}

span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 6px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari */
  color: rgb(185, 184, 184) !important;
  opacity: 1;
  font-style: italic;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(185, 184, 184) !important;
  font-style: italic;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(185, 184, 184) !important;
  font-style: italic;
}
